{# templates/security/forgot_password.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre Mot de Passe</title>
</head>
<body>
    <h1>Réinitialisez votre mot de passe</h1>
    <p>Bonjour,</p>
    <p>Vous avez demandé à réinitialiser votre mot de passe. Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous :</p>
    <p><a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a></p>

    <p>Ce lien expirera après un certain temps. Si vous n'avez pas demandé de réinitialisation, vous pouvez ignorer cet email.</p>

    <p>Bien cordialement,<br>L'équipe de notre application</p>
</body>
</html>
