<h1>Confirmez votre adresse email</h1>

<p>Bonjour,</p>

<p>Merci de vous être inscrit. Veuillez cliquer sur le lien ci-dessous pour confirmer votre adresse email :</p>

<p><a href="{{ url('app_verify_email', {'token': token}) }}">Confirmer mon email</a></p>

<p>Merci !</p>
