/* Fond avec image */
.beatmaker-dashboard {
    padding: 2rem;
    background-image: url('/images/JPS.jpeg'); /* Chemin correct vers l'image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #e0e0e0;
}

.beatmaker-dashboard ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.beatmaker-dashboard li {
    background-color: rgba(52, 73, 94, 0.9);
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Image des collaborations */
.beatmaker-dashboard img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1em;
}

.beatmaker-dashboard a {
    color: #f1c40f;
    font-weight: bold;
}

.beatmaker-dashboard a:hover {
    color: #d4ac0d;
}
